.dashboard__btn {
  font-size: 1.3rem;
  height: 10rem;
  width: 20rem;
  margin-top: 2rem;
  padding-top: 3.8rem !important;
}

.dashboard__text--one {
  font-size: 2rem;
}

.dashboard__text--two {
  font-size: 1.5rem;
}