body {
  font-size: 1.05rem;
  color: white;
  background: radial-gradient(circle, rgb(5, 3, 43) 0%, rgb(1, 36, 43) 100%);
}

.pre-container {
  width: 100vw;
  height: 100vh;
}

.pre-load {
  width: 48%;
  height: 59%
}

.badge {
  font-size: 1rem;
}

.bg-glass {
  width: 100%;
  height: 100%;
  /*margin: 10px;*/
  padding: 0;
  border: 1px solid rgba(0,0,0,0.5);
  border-radius: 10px 10px 2px 2px;
  background: rgba(0,0,0,0.25);
  box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

.page-link {
  background: radial-gradient(circle, rgb(85, 0, 85) 0%, rgb(53, 21, 161) 0%);
  color: white;
}