.movies__td {
  padding-top: 1.2rem !important;
}

.bg-W {
  background-color: #fb002f;
}

.bg-B {
  background-color: #e9480d;
}

.bg-BbW {
  background-color: #e97908;
}

.bg-NGbR {
  background-color: #e9aa00;
}

.bg-G {
  background-color: #cee905;
}

.bg-VG {
  background-color: #9be908;
}

.bg-E {
  background-color: #75e906;
}

.bg-M {
  background-color: #00ff1a;
}

.bg-L {
  background-color: #ff00d6;
}